{% block body %}
<h1>Visa kortleken</h1>

<p>Här är kortleken</p>

<ul>
    {# <li>{{ deck }}</li> #}
    {# <li>{{ deckString }}</li> #}
    {# {% for card in card %}
        <li>{{ card }}</li>
    {% endfor %} #}
</ul>

{{ dump(app.session.all) }}

{% endblock %}