{% block body %}
<h1>Visa kortleken</h1>

<p>Här är kortleken</p>

<ul>
    <li>{{ card }}</li>
    <li>{{ cardString }}</li>
    {# {% for card in card %}
        <li>{{ card }}</li>
    {% endfor %} #}
</ul>
{% endblock %}