body {
    background-color: rgb(52, 72, 80);
    margin: 0 auto;
    max-width: 1000px;
    background-size: cover;
}

h1 {
    border-bottom: 4px double #ccc;
}
/* header */
.site-header {
    /* height: 300px; */
    background-repeat: no-repeat;
    color:rgb(245, 200, 0);
    text-shadow: 2px 2px 2px rgb(255, 0, 0);
    text-align: center;
    padding-top: 10em;
}

.nav {
    background-color: #111;
    opacity: 75%;
}
.nav li {
    display: inline;
    padding-left: 5em;
    padding-top: 10em;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: large;
    text-shadow: 2px 2px 2px black;
}


/* footer  */

.footer {
    border-top: 2px solid #ccc;
}

.footer a {
    color: #111;
    text-decoration: none;
}

.footer a:hover{
    color: #111;
    text-decoration: none;
}
.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.final {
    text-align: center;
}

.footer .row {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}

.footer .row > .col2 {
    width: calc(100% / 2);
    
}

.footer .row > .col1 {
    width: 100%;
}

/* about */

.about {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}

.about > .sida {
    width: 500px;
    border-right: 2px #ccc;
}

.sida a {
    color: #111;
}

.mvc img {
    max-width: 250px;
}
/* home */

.home {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}

.home > .bilder {
    width: 250px;
    border-right: 2px #ccc;
}

.jag img {
    max-width: 150px;
}

.katter img {
    max-width: 500px;
}

/* report */
.report {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}

.report > .links {
    width: 150px;
}

.report > .text {
    text-align: left;
    width: 900px;
}

.links a {
    color: #111;
}

.links a:visited {
    color: #ccc;
}

.links ul {
    list-style-type: none;
}

/* Lucky */
.lucky img {
    max-width: 800px;
}

/* api */
.api ul {
    list-style-type: none;
}

.api a {
    color: #111;
}

.api a:visited {
    color: #ccc;
}

.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-warning:before {
    content: "⚠";
}

.full_deck div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cards div{
    display: flex;
}