{% extends "base.html.twig" %}

{% block title %}Cardgame{% endblock %}

{% block body %}
    <h1>Kortspel</h1>

    <ul>
    ett gäng med länkar..
        <li><a href="{{ path('deck') }}">Sortera kortleken</a></li>
        <li><a href="{{ path('joker') }}">Visa jokrar</a></li>
        <li><a href="{{ path('shuffle') }}">blanda kortleken</a></li>
        {# <li><a href="{{ path('draw') }}">Dra kort</a></li> #}
    </ul>


{% include "footer.html.twig" %}

{% endblock %}
