{% extends "base.html.twig" %}

{% block title %}Cardgame{% endblock %}

{% block body %}
    <h1>Kortspel</h1>

    <ul>
    ett gäng med länkar..
        {# <li><a href="{{ path('deck') }}">Kortlek</a></li> #}
        {# <li><a href="{{ path('draw') }}">Dra kort</a></li> #}
        {# <li><a href="{{ path('Shuffle') }}">blanda kort</a></li> #}
    </ul>


{% include "footer.html.twig" %}

{% endblock %}
