


<footer class="footer">
    <div class="row">
        <div class="col2 box">
            Mitt github:
            <ul>
                <li><a href="https://github.com/adat23/mvc.git">Github</a></li>
                <li><a href="{{ path('session') }}">Session</a></li>
                <li><a href="{{ path('api') }}">API</a></li>
                <li><a href="{{ path('quote') }}">API-Quote</a></li>
            </ul>
        </div>

        <div class="col2 box">

        DBWEBB:
            <ul>
                <li><a href="https://dbwebb.se/kurser/mvc-v2">Dbwebb</a></li>
                <li><a href="https://github.com/dbwebb-se/mvc.git">Github</a></li>
            </ul>
        </div>
    </div>
    
    <div class="row">
        <div class="col1 final">
        <p>Denna sidan är Copyright &copy; av mig. </p>
        </div>
    </div>
</footer>
</body>
</html>